canvas {
    border: 1px solid black;
}
.slider {
    width: 200px;
    margin-top: 5px;
}
.input-block {
    margin-left: 50px;
    margin-top: 20px;
}

.control-buttons{
    margin-left: 50px;
    margin-top: 20px;

    display: inline-block;
}

.table{
     margin-left: 50px;
 }

.columns {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.cell {
    border: black 2px;
}

table {
    width: 100%;
    margin-bottom: 20px;
    border: 1px solid #dddddd;
    border-collapse: collapse;
}
table th {
    font-weight: bold;
    padding: 5px;
    background: #efefef;
    border: 1px solid #dddddd;
}
table td {
    border: 1px solid #dddddd;
    padding: 5px;
}